:root {
  font-size: 6vw;
  --primary-color: #8a9f91;
  --background-color: #F4F2F3;
  --related-date-color: white;
  --closed-date-color: white;
  --not-attendance-date-color: white;
  --calendar-date-color: #e4eee3;
  --selected-calendar-date-color: #dfe8df;
}

/* 
@media (max-width: 768px) {
  :root {
    font-size: 6vw;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 2vw;
  }
} */

html,
body {
  overscroll-behavior: none;
}

body {
  background-color: var(--background-color);
}

/* 기본css */
.vw100 {
  width: 100%;
  height: 100%;
}
/* 모달 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  /* 부모 컨테이너에 5vw 여백 추가 */
  box-sizing: border-box;
  /* padding이 컨테이너 크기에 포함되도록 설정 */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.gate-logo-area {
  position: relative;
  padding: auto auto auto auto;
  height: 40vh;
  width: 100vw;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
}

.gate-logo-container {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 80%;
  top: 60%;
  left: 50%;
}

.gate-logo-container img {
  height: 75%;
  display: block;
  margin: auto;
}

.logo-title {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
}

.login-area {
  position: relative;
  height: 60vh;
}

.login-container {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 5%;
  left: 50%;
}

.login-container input {
  display: block;
  box-sizing: border-box;
  width: 70vw;
  height: 1.5rem;
  margin-bottom: 0.5vh;
  border-radius: 10px;
  border: 1px solid #4e5c53;
  padding: 0rem 0rem 0rem 0.8rem;
}
.login-container select {
  display: block;
  box-sizing: border-box;
  width: 70vw;
  height: 1.5rem;
  margin-bottom: 0.5vh;
  border-radius: 10px;
  border: 1px solid #4e5c53;
  padding: 0rem 0rem 0rem 0.8rem;
}
.login-container input:focus {
  border: 1.2px solid #4e5c53;
}

.login-container button {
  width: 70vw;
  height: 1.5rem;
  margin-bottom: 0.5vh;
  border-radius: 10px;
  border: 1px solid gray;
  font-family: 'Pretendard Variable', 'Noto Sans KR';
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.18rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: var(--primary-color);
  color: white;
}
.login-container button.allow {
  background-color: var(--primary-color);
  color: white;
}
.login-container button.not-allow {
  background-color: white;
  color: black;
}
.login-container label {
  display: block;
  margin-bottom: 0.5vh;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.5rem;
}

.login-container input.warning {
  border: 1.5px solid #de5e5e;
}

.login-container input.safe {
  border: 1.5px solid #009e00;
}

.permaenceLoginContainer {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.permaenceLoginContainer input {
  display: block;
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0;
}

.permaenceLoginContainer input:checked {
  accent-color: var(--primary-color);
}

.permaenceLoginContainer label {
  margin: 0 0 0 0.2rem;
}

.gate-link {
  text-align: center;
  font-size: 0.5rem;
  padding: 0.1rem 0;
}

/* 레이아웃 */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.contents {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.under-bar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  /* 아이템 간 간격 균등 배분 */
  align-items: center;
  height: 7vh;
  width: 100vw;
  background-color: var(--primary-color);
  /* 네비게이션 바 배경색 */
  color: white;
  bottom: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  /* 그림자 효과 */
}

.under-bar>.item {
  /* background-color: white; */
  height: 80%;
  width: 100%;
}

.under-bar>.item>img {
  width: 100%;
  height: 100%;
  filter: invert(1) brightness(0.85);
  transition: filter 0.2s ease-in-out;
  object-fit: contain;
}

.under-bar>.item.selected>img {
  filter: invert(0.15);
}

/* 헤더 */
header {
  display: grid;
  top: 0;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  width: 100vw;
  height: 7vh;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 7vh;
}

.header-left-side {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1vw;
}

.header-right-side {
  box-sizing: border-box;
  flex-direction: row-reverse;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1vw;
}

.header-icon-box {
  margin: 0.2rem;
  height: calc(100% - 0.4rem);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border: rgb(80, 80, 80) solid 0.1rem;
  border-radius: 5px;
  filter: invert(5%);
  padding: 0.2rem;
  background-color: rgb(126, 145, 127);
  transition: filter 0.3s ease-in-out;
}
.header-icon-box.disable {
  filter: brightness(40%);
}

.header-icon-img {
  filter: invert(90%);
  height: 100%;
  width: 100%;
}

.main-pages {
  position: relative;
  display: flex;
  transition: transform 0.5s ease;
  height: 93vh;
}

.main-page {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow-y: hidden;
}

.calendar-window {
  overflow: hidden;
  height: 50vh;
  transition: height 0.3s ease;
  position: relative;
  background-color: var(--background-color);
  z-index: 1;
}

.calendar-window.full {
  height: 100%;
}

.calendar-container {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
}

.calendar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  border: 1px solid #ddd;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.sunday {
  color: red;
}

.day {
  font-weight: 600;
}

.calendar-grid {
  height: 100%;
  font-size: 0.5rem;
  text-align: center;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 3vh repeat(6, 1fr);
}

.calendar-date-container {
  /* padding: 1vh 0; */
  min-height: 0;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-top: 1px solid white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  transition: border-top 0.3s ease;
}

.calendar-date-box {
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  background-color: var(--calendar-date-color);
  width: 100%;
  height: 100%;
  padding: 1vh 0;
}

.calendar-date-box.closed {
  background-color: rgba(255, 193, 193, 0.659);
}

.selected-box {
  transition: opacity 0.3s ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  outline: 3px solid rgb(95, 159, 89);
}

.selected-box.select {
  opacity: 1;
}

.selected-box.not-select {
  opacity: 0;
}

.multi-selected-box {
  box-sizing: border-box;
  transition: opacity 0.3s ease-out;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border: 3px solid rgb(95, 159, 89);
  border-radius: 3px;
}

.multi-selected-box.select {
  opacity: 1;
}

.multi-selected-box.not-select {
  opacity: 0;
}

.calendar-date-box.not-current {
  color: #7c7c7c;
  /* background-color: #d2dad1; */
  filter: contrast(70%);
}

.date-box {
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 3px;
}

.date-box.current {
  font-weight: 700;
  background-color: #61b462;
  color: rgb(241, 241, 241);
}

.calendar-page {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}


/* 스케쥴 관리 모달 */
.schedule-modal {
  width: 70vw;
  height: 20vh;
}

.schedule-modal .header {
  font-weight: 900;
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.schedule-modal .contents {
  display: flex;
  height: 55%;
  justify-content: space-around;
}

.schedule-modal .contents .select-box {
  margin-top: auto;;
  height: 90%;
  flex: 1;
}

.schedule-modal .contents .select-box .message {
  text-align: center;
  font-size: 0.7rem;
}

.schedule-modal .contents .select-box .icon {
  text-align: center;
}

.schedule-modal img {
  height: 5vh;
  object-fit: cover;
}


/* 일정 등록 모달 */
.schedule-set-modal {
  width: 70vw;
  height: 60vh;
}

.schedule-set-modal .header {
  box-sizing: border-box;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 3%;
}

.schedule-set-modal .contents {
  width: 100%;
  height: 75%;
}

.schedule-set-modal .button-area {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.schedule-set-modal .button-area button {
  display: block;
  height: 80%;
  width: 35%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  font-weight: 700;
}

.schedule-set-modal .button-area .cancel {
  background-color: #ffffff;
  color: rgb(45, 45, 45);
}

.schedule-set-modal .button-area .register {
  background-color: var(--primary-color);
  color: white;
  transition: filter 0.1s ease;
}

.schedule-set-modal .button-area .deactivate {
  filter: grayscale(1);
}

.date-select-area {
  height: 50vh;
  width: 70vw;
}

.date-select-area .calendar-grid {
  height: 70%;
}

.date-select-area .header {
  height: 10%;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 5%;
}

.date-select-area button {
  display: block;
  height: 10%;
  width: 50%;
  margin: 5% auto 0 auto;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: 1px solid gray;
  font-weight: 700;
}

.schedule-set-modal input {
  box-sizing: border-box;
  width: 70vw;
  height: 1.5rem;
  margin-bottom: 0.5vh;
  border: none;
  padding: 0 2%;
}

.schedule-set-modal select {
  width: 20vw;
  height: 70%;
  border-radius: 5px;
  padding: 0 0 0 5%;
}

.schedule-set-modal label {
  font-size: 0.7rem;
}

.schedule-set-modal input[type="checkbox"] {
  width: 0.8rem;
  height: 0.8rem;
  accent-color: var(--primary-color);
}

.schedule-set-modal input[type="color"] {
  height: 80%;
  padding: 0;
  width: 20vw;
  border-radius: 1px;
}

.title-area {
  font-size: 0.7rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
}
.title-area label{
  display: flex;
  height: 100%;
  width: 100%;
}

.title-area img {
  height: 80%;
  object-fit: contain;
}

.toggle-area {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.toggle-area.on {
  max-height: 30vh;
  /* 충분한 크기로 설정 (컨텐츠 크기에 맞게 조정) */
  opacity: 1;
}

.toggle-area.off {
  max-height: 0px;
  opacity: 0;
}

.time-set-area {
  height: auto;
  min-height: 0px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 8px;
  text-align: center;
  font-size: 0.7rem;
  padding: 0 20vw;
}

.time-set-area.on {
  padding: 2vw 5vw;
}

.time-set-area input {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: 'Pretendard Variable', 'Noto Sans KR';
}

.border {
  width: 100%;
  background-color: #d7d7d7;
  height: 1px;
  margin: 0.5vh 0;
}

.schedule-member-set-modal {
  width: 70vw;
  height: 50vh;
}

.schedule-member-set-modal .header {
  height: 10%;
  text-align: center;
  margin-bottom: 5%;
}
.title-area input[type="date"]{
  font-family: 'Pretendard Variable', 'Noto Sans KR';
  width: 40%;
}

.schedule-member-set-modal .contents {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-member-set-modal .contents .member-box {
  width: 40%;
  height: 100%;
  border: 1px solid rgb(123, 123, 123);
  box-sizing: border-box;
  border-radius: 10px;
}

.schedule-member-set-modal .contents .member-box .header {
  font-size: 0.7rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 7px 7px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-member-set-modal .contents .icon {
  width: 20%;
  text-align: center;
}

.schedule-member-set-modal .contents .icon img {
  width: 50%;
  object-fit: contain;
}

.schedule-member-set-modal button {
  display: block;
  height: 10%;
  width: 50%;
  margin: 5% auto 0 auto;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: 1px solid gray;
  font-weight: 700;
}

.schedule-member-set-modal .profile {
  height: 4vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.schedule-member-set-modal .profile .icon {
  height: 100%;
  width: 30%;
}

.schedule-member-set-modal .profile .icon img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.schedule-member-set-modal .profile .name-area {
  width: 50%;
  height: auto;
}

.schedule-member-set-modal .profile .name-area .name {
  font-size: 0.6rem;
}

.schedule-member-set-modal .profile .name-area .birthday {
  font-size: 0.5rem;
}

.schedule-member-set-modal .profile input {
  width: 10%;
  accent-color: var(--primary-color);
}

.range-modal {
  width: 70vw;
  height: 20vh;
}

.range-modal .header {
  font-weight: 900;
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
}

.range-modal .contents {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-modal .contents input {
  box-sizing: border-box;
  width: 44%;
  height: 40%;
  padding: 0 4%;
  font-size: 0.5rem;
  font-family: 'Pretendard Variable', 'Noto Sans KR';
}

.range-modal .button-area {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.range-modal .button-area button {
  display: block;
  height: 80%;
  width: 35%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  font-weight: 700;
}

.range-modal .button-area .cancel {
  background-color: #ffffff;
  color: rgb(45, 45, 45);
}

.range-modal .button-area .register {
  background-color: var(--primary-color);
  color: white;
  transition: filter 0.1s ease;
}

.mini-calendar-schedule-grid {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 0 15%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  display: grid;
  /* background-color: white; */
  z-index: 5;
  transform: translate(-50%, 100%);
  bottom: 60%;
  left: 50%;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.mini-calendar-schedule-grid.full {
  opacity: 0;
}

.mini-calendar-schedule-grid .item {
  margin: auto auto auto auto;
  width: 80%;
  aspect-ratio: 1 / 1;
  /* 정사각형 유지 */
  border-radius: 50%;
}

.full-calendar-schedule-grid {
  box-sizing: border-box;
  width: 100%;
  height: 70%;
  padding: 0 5%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  display: grid;
  z-index: 1;
  transform: translate(-50%, 100%);
  bottom: 70%;
  left: 50%;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  overflow: hidden;
}

.full-calendar-schedule-grid.full {
  opacity: 1;
}

.full-calendar-schedule-grid .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: hidden;
  font-size: 0.35rem;
  font-weight: 600;
  border-radius: 5px;
  color: #aadaba
}

.calendar-schedule-window {
  height: calc(100% - 50vh);
  width: 100%;
  background-color: var(--background-color);
  position: absolute;
  bottom: 0;
  z-index: 0;
  overflow: scroll;
}

.schedule-box {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  border-bottom: 1px solid rgb(198, 198, 198);
  box-sizing: border-box;
}

.schedule-box .title-area {
  width: 60%;
}

.schedule-box .timeline {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.schedule-box .color {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: white 3px solid;
  border-radius: 10px;
}

.schedule-box .timeline .border {
  box-sizing: border-box;
  height: 100%;
  width: 1px;
  background-color: rgb(84, 84, 84);
}

.schedule-box .timeline .border.start {
  height: 60%;
  margin-top: 50%;
}

.schedule-box .timeline .border.end {
  height: 60%;
  margin-bottom: 50%;
}

.schedule-box .timeline .border.start.end {
  height: 0%;
}

.schedule-box .timeline .border.not-continuous {
  height: 0%;
}

.schedule-box .timezone {
  width: 25%;
  font-size: 0.6rem;
}

.schedule-box .title-area {
  box-sizing: border-box;
  padding-left: 1rem;
  display: block;
}

.schedule-box .title-area .title {
  font-size: 0.8rem;
  font-weight: 600;
}

.schedule-box .title-area .description {
  font-size: 0.6rem;
  color: #4e5c53;
}

.schedule-view-modal {
  width: 70vw;
  height: 60vh;
}

.schedule-view-modal .header {
  box-sizing: border-box;
  font-weight: 600;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 2%;
}

.schedule-view-modal .date {
  text-align: center;
  font-size: 0.6rem;
  height: 6%;
}

.schedule-view-modal .contents {
  width: 100%;
  height: 70%;
}

.schedule-view-modal .contents .detail {
  padding-left: 3%;
  font-size: 0.65rem;
}

.schedule-view-modal .contents .detail .profile {
  display: flex;
  min-height: 7vh;
  width: 100%;
  justify-items: center;
  border-top: 1px solid rgb(212, 212, 212);
}

.schedule-view-modal .contents .detail button {
  font-size: 0.5rem;
  display: block;
  height: 3.5vh;
  width: 10.5vw;
  border-radius: 5px;
  border: 1px solid rgb(103, 103, 103);
  font-weight: 700;
  background-color: var(--primary-color);
  color: white;
  transition: filter 0.1s ease;
}

.schedule-view-modal .contents .detail .cancel {
  background-color: #ffffff;
  color: rgb(45, 45, 45);
}

.schedule-view-modal .contents .detail .profile img {
  padding: 3%;
  width: 10%;
  object-fit: contain;
}

.schedule-view-modal .contents .detail .profile .name {
  width: 30%;
  display: flex;
  align-items: center;
}

.schedule-view-modal .contents .detail .profile .name .attendance {
  font-size: 0.5rem;
}

.schedule-view-modal .contents .detail .profile .reason {
  min-height: 80%;
  padding: 2% 0;
  display: flex;
  align-items: center;
  width: 50%;
}

.schedule-view-modal .contents .detail .profile .reason .message {
  position: relative;
  font-size: 0.5rem;
  box-sizing: border-box;
  position: relative;
  background-color: #e9ffce;
  width: auto;
  color: #000000;
  border: 1px solid rgb(180, 180, 180);
  padding: 2vw;
  margin-left: 2vw;
  border-radius: 5px;
}
.schedule-view-modal .comment-area .comment-input {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 7vh;
}

.schedule-view-modal .comment-area .profile-img {
  width: 8vw;
  height: 8vw;
  padding-right: 3vw;
}
.schedule-view-modal .comment-area .send {
  padding: 2vw;
  width: 8vw;
  height: 8vw;
}
.schedule-view-modal .comment-area textarea {
  padding: 1vw;
  border-color: #9FBAAB;
  border-radius: 5px;
  resize: none;
  height: 4vh;
  width: 100vw;
  font-family: 'Pretendard Variable', 'Noto Sans KR';
}
.schedule-view-modal .comment-area .comment {
  width: 100%;
  display: flex;
  padding: 1vh 0;
}
.schedule-view-modal .comment-area .comment .value {
  width: 100%
}
.schedule-view-modal .comment-area .comment .top {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.schedule-view-modal .comment-area .name {
  font-weight: 700;
  font-size: 0.6rem;
}
.schedule-view-modal .comment-area .button-area {
  font-size: 0.6rem;
  color: #B0B0B0;
}
.schedule-view-modal .comment-area .comment .bottom {
  margin-top: 1vh;
  bottom: 0px;
  font-size: 0.6rem;
}
.schedule-view-modal .comment-area .reply-input {
  display: flex;
}
.schedule-view-modal .comment-area .reply-icon {
  width: 4vw;
  margin-right: 2vw;
  height: 4vw;
}
.schedule-view-modal .comment-area .modify-input {
  display: flex;
  width: calc(100% - 11vw);
}
.schedule-view-modal .comment-area .reply-modify-input {
  display: flex;
  width: calc(100% - 11vw - 6vw);
}
.hash-tag {
  color: #5F7C5E
}
.delete-comment {
  color: #7c7c7c;
}
.comment-border {
  width: 100%;
  height: 1px;
  background-color: rgb(77, 77, 77);
  margin: 2vh 0;
}
/* 말풍선 꼬리 추가 */
.schedule-view-modal .contents .detail .profile .reason .message::before {
  content: "";
  transform: translate(-100%, -50%);
  left: calc(0% );
  top: 50%;
  position: absolute;
  height: 2.3vh;
  aspect-ratio: 1/1.3;
  background: #000000;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.schedule-view-modal .contents .detail .profile .reason .message::after {
  content: "";
  transform: translate(-100%, -50%);
  left: calc(0% + 0.8px);
  top: 50%;
  position: absolute;
  height: 2.3vh;
  aspect-ratio: 1/1.3;
  background: #e9ffce;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.schedule-view-modal .button-area {
  display: flex;
  justify-content: space-between;
  height: 10%;
}
.schedule-view-modal .button-area-admin {
  display: flex;
  justify-content: space-between;
  height: 10%;
}
.schedule-view-modal .button-area button {
  background-color: var(--primary-color);
  color: white;
  display: block;
  height: 80%;
  width: 35%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  font-weight: 700;
}
.schedule-view-modal .button-area-admin button {
  background-color: var(--primary-color);
  color: white;
  display: block;
  height: 80%;
  width: 25%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  font-weight: 700;
}
.schedule-view-modal .button-area .cancel {
  background-color: #ffffff;
  color: rgb(45, 45, 45);
}
.schedule-view-modal .button-area-admin .cancel {
  background-color: #ffffff;
  color: rgb(45, 45, 45);
}
.schedule-view-modal .button-area-admin .delete {
  background-color: rgb(227, 129, 129);
  border-color: #b9b9b9;
}
.attendance-modal {
  width: 70vw;
  height: 35vh;
}
.attendance-modal .header{
  box-sizing: border-box;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 3%;
}
.attendance-modal .contents {
  height: 62%;
}
.attendance-modal .button-area {
  height: 17%;
  display: flex;
  justify-content: space-between;
}
.attendance-modal  .button-area button {
  display: block;
  height: 80%;
  width: 35%;
  margin: 5% auto 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  font-weight: 700;
  background-color: var(--primary-color);
  color: white;
  transition: filter 0.1s ease;
}

.attendance-modal  .button-area .cancel {
  background-color: #ffffff;
  color: rgb(45, 45, 45);
}
.attendance-modal .description {
  font-size: 0.5rem;
  padding-left: 5%;
}
.attendance-modal input {
  box-sizing: border-box;
  padding-left: 3%;
  width: 85%;
  height: 5vh;
}
.date-select-area .button-area {
  display: flex;
  height: 100%;
  width: 100%;
}
.date-select-area .button-area button{
  width: 35%;
}
.date-select-area .button-area .cancel {
  background-color: white;
  color: black;
}
.test-exist {
  width: 100%;
  height: 100%;
  display: flex;
}
.test-exist input{
  width: 78%;
}
.test-exist button {
  margin-left: 2%;
  width: 20%;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: normal;
}